body {
  background-color: #fff;
  min-height: calc(100vh - 60px);
  margin-bottom: 60px;
}

.primary-color {
  color: $primary !important;
}

.secondary-color {
  color: $secondary !important;
}

.tertiary-color {
  color: $tertiary !important;
}

.primary-background {
  background-color: $primary !important;
}

.secondary-background {
  background-color: $secondary !important;
}

.tertiary-background {
  background-color: $tertiary !important;
}

.white {
  color: white;
}

.large-text {
  font-size: 20px;
}

.medium-text {
  font-size: 16px;
}

.small-text {
  font-size: 12px;
}

.tiny-text {
  font-size: 10px;
}

.primary-text {
  color: $text-primary;
}

.secondary-text {
  color: $text-secondary;
}

.tertiary-text {
  color: $text-tertiary;
}

.lighter {
  font-weight: 300;
}

.horizontal-padding {
  padding: 0 20px;
}

.rotate90 {
  transform: rotate(90deg);
}

.inherit-min-height {
  min-height: inherit;
}

.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.transaction-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: #fff;
    font-size: 25px;
  }
}

.transaction-details {
  margin-left: 10px;
}

.transaction-divider {
  padding: 10px 0;
  border-bottom: 1px solid rgba(175,176,188,0.29);
}

.search-holder {
  position: relative;
}

.search-input {
  border-radius: 20px;
  height: 26px;
  width: 100%;
  border: none;
  background: rgba(175,176,188,0.29);
  &::placeholder {
    padding-left: 35px;
    font-size: 14px;
    font-weight: lighter;
  }
}

.search-icon {
  position: absolute;
  top: 13px;
  left: 7px;
}

.flex-form {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-flex-form {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// ===================
// Bootstrap Overrides
// ===================

.nav-item {
  width: 50% !important;
  text-align: center;
  color: rgba(175,176,188,0.29) !important;
  background: #fff !important;
  border: none !important;
  border-bottom: 1px solid rgba(175,176,188,0.29) !important;
  &.active {
    color: $primary !important;
    border-bottom: 1px solid $primary !important;
  }
}
