.primary-color {
  color: $primary !important;
}

.secondary-color {
  color: $secondary !important;
}

.tertiary-color {
  color: $tertiary !important;
}

.primary-background {
  background-color: $primary !important;
}

.secondary-background {
  background-color: $secondary !important;
}

.tertiary-background {
  background-color: $tertiary !important;
}

.white {
  color: white;
}

.medium-text {
  font-size: 16px;
}

.small-text {
  font-size: 12px;
}

.tiny-text {
  font-size: 10px;
}

.primary-text {
  color: $text-primary;
}

.tertiary-text {
  color: $text-secondary;
}

.tertiary-text {
  color: $text-tertiary;
}


