.primary-color {
  color: $primary;
}

.white {
  color: white;
}

.medium-text {
  font-size: 16px;
}

.small-text {
  font-size: 12px;
}

.tiny-text {
  font-size: 10px;
}

.primary-text {
  color: $text-primary;
}

.tertiary-text {
  color: $text-tertiary;
}


