.splash-link {
  &:hover {
    text-decoration: none !important;
  }
}

.landing-splash {
  height: 100vh;
}

.splash-banner {
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  height: 100%;
  svg {
    width: 100%;
  }
}

.splash-banner-content {
  padding-top: 50px;
  background: linear-gradient($primary, $secondary);
  flex: 1;
  h1 {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
  }
}

.splash-image {
  display: block;
  width: 100px;
  margin: 0 auto;
}
