<form action="/create_beneficiary" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<!--   <label for="beneficiary[name]"></label>
 -->  <input type="text" name="beneficiary[name]" placeholder="i.e. Raleigh Bank">
      <h5>Account Details</h5>
<!--   <label for="beneficiary[sort_code]"></label>
 -->  <input type="text" name="beneficiary[sort_code]" placeholder="i.e. 80-56-34">
<!--   <label for="account_number"></label>
 -->  <input type="text" name="beneficiary[account_number]" placeholder="account_number">
<!--   <label for="iban"></label>
 -->  <input type="text" name="beneficiary[iban]" placeholder="iban">
<!--   <label for="bic_swift"></label>
 -->  <input type="text" name="beneficiary[bic_swift]" placeholder="bic_swift">

      <h5>Address</h5>
<!--   <label for="flat"></label>
 -->  <input type="text" name="beneficiary[flat]" placeholder="flat">
<!--   <label for="house_number"></label>
 -->  <input type="text" name="beneficiary[house_number]" placeholder="house_number">
<!--   <label for="street"></label>
 -->  <input type="text" name="beneficiary[street]" placeholder="street">
<!--   <label for="city"></label>
 -->  <input type="text" name="beneficiary[city]" placeholder="city">
<!--   <label for="region"></label>
 -->  <input type="text" name="beneficiary[region]" placeholder="region">
<!--   <label for="post_code"></label>
 -->  <input type="text" name="beneficiary[post_code]" placeholder="post_code">
<!--   <label for="country"></label>
 -->  <input type="text" name="beneficiary[country]" placeholder="country">
      <input type="submit">
</form>

