<div class="dashboard">
  <div class="dashboard-banner">
    <h2 class="white text-center pt-5">£10,123.00 <i class="fas fa-chevron-down" style="font-size: 14px"></i></h2>
    <p class="white text-center">British GBP <%= image_tag "gbp.png", alt: "alttext", class: "currency-flag" %></p>
    <div class="d-flex w-100 justify-content-around mt-5 pb-3 px-4">
      <div class="dashboard-action">
        <div class="dashboard-action-circle primary-color">
          <i class="fas fa-plus"></i>
        </div>
        <p class="white small-text">Add Money</p>
      </div>
      <div class="dashboard-action">
        <div class="dashboard-action-circle">
          <i class="fas fa-exchange-alt primary-color"></i>
        </div>
        <p class="white small-text">Exchange</p>
      </div>
      <div class="dashboard-action">
        <div class="dashboard-action-circle primary-color">
          <i class="fas fa-info"></i>
        </div>
        <p class="white small-text">Details</p>
      </div>
    </div>
  </div>
  <div class="horizontal-padding">
    <div class="feed-day mt-3">
      <div class="day-info d-flex justify-content-between">
        <span>Yesterday</span>
        <span>+ £1,000</span>
      </div>
      <div class="transaction d-flex justify-content-between align-items-center my-2">
        <div class="d-flex">
          <div class="transaction-circle income">
            <!-- Ternarary to flip income or expense class -->
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
          <div class="transaction-details">
            <p class="m-0 primary-text small-text">Ben Fanning</p>
            <p class="m-0 tertiary-text tiny-text">14:30</p>
            <p class="m-0 tertiary-text tiny-text">Lunch</p>
          </div>
        </div>
        <div class="transaction-total">
          <span class='medium-text'>+ £1,000</span>
        </div>
      </div>
    </div>
    <div class="feed-day mt-3">
      <div class="day-info d-flex justify-content-between">
        <span>April 27</span>
        <span>- £1,250</span>
      </div>
      <div class="transaction d-flex justify-content-between align-items-center my-2">
        <div class="d-flex">
          <div class="transaction-circle expense">
            <!-- Ternarary to flip income or expense class -->
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
          <div class="transaction-details">
            <p class="m-0 primary-text small-text">Phelim Dunleavy</p>
            <p class="m-0 tertiary-text tiny-text">08:00</p>
            <p class="m-0 tertiary-text tiny-text">Rent</p>
          </div>
        </div>
        <div class="transaction-total">
          <span class='medium-text'>- £800</span>
        </div>
      </div>
      <div class="transaction d-flex justify-content-between align-items-center my-2">
        <div class="d-flex">
          <div class="transaction-circle expense">
            <!-- Ternarary to flip income or expense class -->
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
          <div class="transaction-details">
            <p class="m-0 primary-text small-text">Arthur Littmann</p>
            <p class="m-0 tertiary-text tiny-text">11:00</p>
            <p class="m-0 tertiary-text tiny-text">Food</p>
          </div>
        </div>
        <div class="transaction-total">
          <span class='medium-text'>- £450</span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "Log Out", destroy_user_session_path, method: :delete  %>
