<div class="dash-cont">
  <h4>Accounts</h4>
  <div class="hox-card" style="background-image: url(<%= image_path('card.png') %>">
    <div class="card-head">
      <h5 class="acct-no">**** 6546</h5>
      <h5 class="railsbank">RailsBank</h5>
    </div>
    <h6>Balance:</h6>
    <h5 class="roboto">£ 3245.67</h5>
  </div>
  <h4 style="margin-top: 6vw;">Recent Transactions</h4>
  <div class="transaction-holder">
    <div class="transaction">
      <div class="transaction-image"><h4 style="margin: 0;color: white;font-weight:bold;">HR</h4></div>
      <div class="transaction-details">
        <div class="transaction-inner">
          <p class="transaction-reference">Lunch</p>
          <p class="transaction-date light-gray">2.30pm 01/08/19</p>
        </div>
        <div class="transaction-amount">
          <h6><span class="light-gray">£</span> 20.34</h6>
        </div>
      </div>
    </div>
  </div>
</div>
