<h1 class="text-center medium-text mt-4">Who to pay?</h1>
<div class="horizontal-padding">
  <div class="search-holder">
    <input type="text" class="search-input my-2" placeholder="Search">
    <i class="fas fa-search search-icon secondary-text"></i>
  </div>
  <div class="d-flex align-items-center my-3">
    <div class="dashboard-action-circle primary-color" style="background: rgba(50,62,222,0.23)">
      <i class="fas fa-plus"></i>
    </div>
    <p class="m-0 ml-2 small-text text-primary">Add Beneficiary</p>
  </div>
  <p class="tertiary-text small-text">Beneficiaries</p>
  <div class="transaction transaction-divider d-flex justify-content-between align-items-center my-2">
    <div class="d-flex">
      <div class="transaction-circle" style="background: rgba(175,176,188,0.29)">
        <i class="fas fa-university" style="margin-top: -3px"></i>
      </div>
      <div class="transaction-details">
        <p class="m-0 primary-text small-text">Maria Therese Walter - <b>GDP</b></p>
        <p class="m-0 tertiary-text tiny-text">Account Number: 053423812</p>
        <p class="m-0 tertiary-text tiny-text">Sort Code: 09-11-23</p>
      </div>
    </div>
    <div class="transaction-total">
      <span class='medium-text'><i class="fas fa-chevron-right secondary-text"></i></span>
    </div>
  </div>
  <div class="transaction transaction-divider d-flex justify-content-between align-items-center my-2">
    <div class="d-flex">
      <div class="transaction-circle" style="background: rgba(175,176,188,0.29)">
        <i class="fas fa-university" style="margin-top: -3px"></i>
      </div>
      <div class="transaction-details">
        <p class="m-0 primary-text small-text">Florence O’Fanning - <b>GDP</b></p>
        <p class="m-0 tertiary-text tiny-text">Account Number: 053423812</p>
        <p class="m-0 tertiary-text tiny-text">Sort Code: 09-11-23</p>
      </div>
    </div>
    <div class="transaction-total">
      <span class='medium-text'><i class="fas fa-chevron-right secondary-text"></i></span>
    </div>
  </div>
</div>
