<div class="view-height white-rounded-top">
  <% if @transaction["transaction_status"] == "transaction-status-declined" %>
    <%= render "shared/failure", transaction: @transaction %>
  <% elsif @transaction["transaction_status"] == "transaction-status-pending" %>
    <%= render "shared/success", transaction: @transaction %>
  <% else %>
    <%= render "shared/success", transaction: @transaction %>
  <% end %>
</div>


