<%= link_to dashboard_path, class: "splash-link" do %>
  <div class="landing-splash">
    <div class="splash-banner">
      <svg viewBox="0 0 1500 198" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 30.096C0 30.096 222.826 111.672 507.246 111.672C791.667 111.672 927.536 0 1192.03 0C1456.52 0 1500 39.2518 1500 39.2518V198H0V30.096Z" fill="#323CC3"/>
        <!-- Need to find a way to use config vars for fill -->
      </svg>

      <div class="splash-banner-content">
        <%= image_tag "bank.png", alt: "alttext", class: "splash-image" %>
        <h1>Hoxton Bank</h1>
      </div>
    </div>
  </div>
<% end %>
