.hb-button {
  border-radius: 25px;
  width: 298px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }
}
