.footer {
  height: 40px;
  padding: 1rem;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
  z-index: 2000;
  i {
    color: black;
  }
}
