.dashboard-banner {
  background: $primary;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.currency-flag {
  width: 16px;
  margin-top: -3px;
}

.dashboard-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-action-circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-info {
  span {
    color: $text-tertiary;
    font-size: 12px;
  }
}

.income {
  background: $primary;
  i {
    transform: rotate(180deg);
  }
}

.expense {
  background: $secondary;
}


