.dash-cont {
  overflow: hidden;
  height: calc(100vh - 140px);
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  padding: 10vw;
}
.hox-card {
  background-size: cover;
  height: calc(80vw * 0.6);
  width: 80vw;
  background-repeat: no-repeat;
}
