.carousel-item {
  padding: 1.5vh 10vw 4vh 10vw;
}
.carousel-holder {
  background-color: white;
  padding-top: 3vw;
  padding-bottom: 1.5vh;
  border-radius: 20px 20px 0px 0px;
}
.carousel-indicators li {
  border-radius: 4px;
  opacity: 0.5;
  background-color: black;
 .active {
   opacity: 1;
   background-color: black;
 }
}
.dash-header {
  margin-left: 10vw;
  margin-bottom: 0px;
}
.trans-header {
  margin-left: 10vw;
  margin-bottom: 10px;
}
.carousel-indicators {
  margin-bottom: 0px;
}
.transaction-cont {
  background-color: white;
  padding: 0vw 10vw;
  overflow: scroll;
}
.trans-header {
  margin-bottom: 0px;
}
















.hox-card {
  background-size: cover;
  height: calc(80vw * 0.6);
  width: 80vw;
  background-repeat: no-repeat;
  color: white;
  padding: 1rem;
}
.zero {
  width: 100%;

}
.one {
  width:100%;
  height: calc(100vh - 100px - (80vw * 0.6) - 33.25px - 3.5rem);
  overflow: scroll;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.railsbank {
  text-align: right;
  font-weight: bold;
}
.transaction {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5vh;
}
.light-gray {
  color: #C8C8C8;
}
.transaction-image {
  background-color: #E5E5E5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 12vw;
}
.transaction-details {
  width: 68vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transaction-inner {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p07 {
  font-size: 0.7rem;
}
.transaction-reference {
  margin: 0;
  font-weight: bold;
  width: 40vw;
}
.transaction-date {
  margin: 0;
  font-weight: regular;
}
