
.bigicon {
  font-size: 4rem;
  text-align: center;
  margin: 6vh 0 3vh 0;
}
.mv {
  margin: 3vh 0;
}
.relative {
  position: relative;
}

.railsbank-btn-fixed-bottom {
  position: absolute;
  bottom: 15vh;
}
